workflow_reference_from_dify/公文翻译 .yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 公文翻译
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.45@c3b4e788bdac202445fe0a1d82ff81fbc0f24f7ef3aaeef4785908d1d972fa84
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1769407645071-source-1769407651193-target
      source: '1769407645071'
      sourceHandle: source
      target: '1769407651193'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1769407651193-source-1769407703313-target
      source: '1769407651193'
      sourceHandle: source
      target: '1769407703313'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1769407703313-source-1769407767794-target
      source: '1769407703313'
      sourceHandle: source
      target: '1769407767794'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: input_file
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: file
          variable: wenjian
      height: 108
      id: '1769407645071'
      position:
        x: 81
        y: 282
      positionAbsolute:
        x: 81
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: false
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1769407645071'
        - wenjian
      height: 103
      id: '1769407651193'
      position:
        x: 380.4842834334895
        y: 282
      positionAbsolute:
        x: 380.4842834334895
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1769407651193'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Pro/deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 115fd0c7-e79b-4887-8598-d1b65d8874a2
          role: system
          text: '{{#1769407651193.text#}}

            【任务说明】 请将以下文本翻译为【简体中文】。

            【输出格式：段落对照模式】 必须严格遵守以下排版规则：

            1. 先中后英：请先输出一整段翻译后的中文，随后从{{#1769407651193.text#}}找出该段对应的英文原文，对应在译文之后。

            2. 段落完整性：以原文的自然段落为单位进行组织。严禁在中文段落内部插入英文，也严禁将一个自然段拆分为多行中英对照。

            3. 视觉分隔：每组“中英对照段落”之间请空一行，以便阅读。

            【翻译质量要求】

            1. 准确性：完整保留政策含义、逻辑结构、数据与判断，不进行主观发挥。

            2. 行文优化：中文表达需符合专业公文习惯，长句可适当拆分，语气保持客观中性。

            3. 术语处理：专业术语、机构名称、政策概念首次出现时采用“中文译名（英文全称）”标注，后续保持一致。

            【禁令】

            • 仅输出翻译正文。

            • 严禁输出任何开场白、翻译说明、注释或引导性文字。'
        reasoning_format: separated
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1769407703313'
      position:
        x: 688.547149699531
        y: 282
      positionAbsolute:
        x: 688.547149699531
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1769407703313'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1769407767794'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 19.997730535262235
      y: 69.16011160523539
      zoom: 0.7578582832551992
  rag_pipeline_variables: []
